@page :first {
  margin-top: 20mm;
  margin-bottom: 25.4mm;
  margin-left: 25.4mm;
  margin-right: 25.4mm;
}

@page {
  margin-top: 22mm;
  margin-bottom: 25.4mm;
  margin-left: 25.4mm;
  margin-right: 25.4mm;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.4;
  font-size: 12pt;
}

h1 {
  font-size: 18pt;
  margin-top: 10pt;
  margin-bottom: 6pt;
  page-break-after: avoid;
}

h2 {
  font-size: 14pt;
  margin-top: 8pt;
  margin-bottom: 4pt;
  page-break-after: avoid;
  page-break-before: avoid;
}

h2 + * {
  page-break-before: avoid;
}

h3 {
  font-size: 12pt;
  margin-top: 6pt;
  margin-bottom: 3pt;
  page-break-after: avoid;
  page-break-before: avoid;
}

h4 {
  font-size: 11pt;
  margin-top: 4pt;
  margin-bottom: 2pt;
  page-break-after: avoid;
}

p {
  margin-top: 3pt;
  margin-bottom: 3pt;
  orphans: 3;
  widows: 3;
}

ul, ol {
  margin-top: 3pt;
  margin-bottom: 3pt;
  padding-left: 18pt;
  page-break-inside: avoid;
}

li {
  margin-top: 0.5pt;
  margin-bottom: 0.5pt;
  line-height: 1.3;
}

li p {
  margin-top: 1pt;
  margin-bottom: 1pt;
}

li ul, li ol {
  margin-top: 1pt;
  margin-bottom: 1pt;
  padding-left: 15pt;
}

